@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bruno+Ace+SC&display=swap');



*{
    font-family: 'Alkatra', cursive;
}
body{
    background: url("bg.png");
}

.reg-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 8px;
    width: 400px;
    height: auto;
    border: solid black;
}

.reg-title{
    text-align: center;
}

.user-input{
    margin-left: 24px;
    justify-content: center;
}

.user-input label{
    margin-left: 12PX;
    font-size: 1.1rem;
}

.user-input input{
    outline: none;
    border-style: none;
    margin: 5px;
    padding: 5px;
    width: 300px;
    font-size: 1rem;
    background: transparent;
    border-bottom: solid 2px;


}


.user-submit input{
    width: 320px;
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 14px;
    border-style: none;
    margin-top: 12px;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    background-color: transparent;
    border-style: solid;
    transition: all .55s ease;
    /* background-image: linear-gradient(90deg, rgb(0, 110, 255),rgb(255, 0, 255)); */
}
.user-submit input:hover{
    background-color: white;
    color: black;
}

.user-login{
    display: flex;
    justify-content: center;
    padding: 8px;
}