*{
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: arial;
}

.register-box h2{
  color: rgb(45, 203, 252);
  text-align: center;
  border: none; 
  background-color: transparent;
  font-family: Aquire;
  text-shadow: 1px 2px 25px rgba(0, 195, 255, 0.7);
  margin-top: 0px;
}

.register-box{
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: rgb(45, 203, 252);
  border-radius: 18px;
  box-shadow: 0 5px 25px rgba(3, 181, 235, 0.7);
  transition: box-shadow .3s;
}
.register-box:hover{
  box-shadow: 0 5px 25px rgba(71, 212, 255, 0.918);
}

.user-name input{
  color: rgb(45, 203, 252);
  letter-spacing: 1.5px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 11px;
  width: 170px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(3, 181, 235);
  background-color: transparent;
  outline: none;
  box-shadow: 1px 1px 25px rgba(3, 181, 235, 0.5);
}

.user-datails input{
  color: rgb(45, 203, 252);
  letter-spacing: 1.5px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 11px;
  width: 350px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(3, 181, 235);
  background-color: transparent;
  outline: none;
  box-shadow: 2px 2px 25px rgba(3, 181, 235, 0.5);
  justify-content: center;
}

.user-password input{
  color: rgb(45, 203, 252);
  letter-spacing: 1.5px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 11px;
  width: 350px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(3, 181, 235);
  background-color: transparent;
  outline: none;
  box-shadow: 2px 2px 25px rgba(3, 181, 235, 0.5);
  justify-content: center;
}

.user-submit button{
  background-color: transparent;
  cursor: pointer;
  color: rgb(45, 203, 252);
  border-style: solid;
  border-radius: 11px;
  border-color: rgb(45, 203, 252);
  padding: 10px;
  width: 120px;
  margin-top: 15px;
  box-shadow: 1px 1px 25px rgba(45, 203, 252, 0.5);
  transition: background-color .2s;
  font-size: 15px;
  font-family: Aquire;
  outline: none;
  margin-top: 16px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  
}
.user-submit button:hover{
  background-color: rgb(45, 203, 252);
  color: black;
}
.user-submit button:active{
  background-color: rgb(0, 111, 145);
}

.user-submit{
  color: rgb(45, 203, 252);
  font-size: 15px;
  font-family: Aquire;
  text-align: center;
}

.register-box a{
  color: rgb(45, 203, 252);
}